@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@import 'tailwindcss';
@import '@heroui/styles';

@theme {
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
}
